
@using HelpDesk.BLL.Repository
@model List<HelpDesk.Models.Entities.Survey>
@inject FailureRepo _failureRepo
@{
    ViewBag.Title = "Raporlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Reports</h2>
@section top{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
}

<div class="table-responsive">
    <table id="example2" class="display table table-striped" style="width: 100%; mso-cellspacing: 0;">
        <thead>
            <tr>
                <th style="font-weight: bold">#</th>
                <th style="font-weight: bold">Arıza Id</th>
                <th style="font-weight: bold">Arıza Açıklama</th>
                <th style="font-weight: bold">Memnuniyet</th>
                <th style="font-weight: bold">Teknisyen</th>
                <th style="font-weight: bold">Hız</th>
                <th style="font-weight: bold">Fiyat</th>
                <th style="font-weight: bold">Çözüm</th>
                <th style="font-weight: bold">Süre (Gün)</th>
                <th style="font-weight: bold">Aksiyon</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Count; i++)
            {

                var item = Model[i];
                var failure =  _failureRepo.GetAll().FirstOrDefault(x => x.SurveyId == item.Id);
                <tr>
                    <th style="font-weight: bold">@(i + 1)</th>
                    <td>@(failure?.Id)</td>
                    <td>@(failure?.Description)</td>
                    <td>@item.Satisfaction &#x2605;</td>
                    <td>@item.TechPoint &#x2605;</td>
                    <td>@item.Speed &#x2605;</td>
                    <td>@item.Pricing &#x2605;</td>
                    <td>@item.Solving &#x2605;</td>
                    <td>@(failure?.FinishingTime?.DayOfYear - failure?.CreatedDate.DayOfYear)</td>
                    <td><a href="@Url.Action("Detail","Failure",new{id = failure.Id})" class="btn btn-success">Detay</a></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <th style="font-weight: bold; background-color:olive;color:white">Ortalama Puan</th>
                <th style="font-weight: bold;background-color:olive;color:white">@ViewBag.AvgSatisfaction.ToString("0.0") &#x2605;</th>
                <th style="font-weight: bold;background-color:olive;color:white">@ViewBag.AvgTech.ToString("0.0") &#x2605;</th>
                <th style="font-weight: bold;background-color:olive;color:white">@ViewBag.AvgSpeed.ToString("0.0") &#x2605;</th>
                <th style="font-weight: bold;background-color:olive;color:white">@ViewBag.AvgPrice.ToString("0.0") &#x2605;</th>
                <th style="font-weight: bold;background-color:olive;color:white">@ViewBag.AvgSolving.ToString("0.0") &#x2605;</th>
                <th style="font-weight: bold;background-color:olive;color:white">@ViewBag.AvgTime</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>
<hr />
<br />

@*<div class="row">
        <div class="col-md-4 col-md-offset-2">
            <div class="panel panel-white stats-widget">
                <div class="panel-body">
                    <div class="pull-left">
                        <span class="stats-number" id="DailyFailure"></span>
                        <p class="stats-info">Günlük Kayıt</p>
                    </div>
                    <div class="pull-right">
                        <i class="icon-arrow_upward stats-icon"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 ">
            <div class="panel panel-white stats-widget">
                <div class="panel-body">
                    <div class="pull-left">
                        <span class="stats-number" id="Profit"></span>
                        <p class="stats-info">Günlük Kazanç</p>
                    </div>
                    <div class="pull-right">
                        <i class="icon-arrow_upward stats-icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="box box-danger col-md-6">
            <div class="box-header with-border">
                <div>
                    <div id="chart_div"></div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>

        <div class="box box-danger col-md-6">
            <div class="box-header with-border">
                <div>
                    <div id="chart_div2"></div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="box box-danger col-md-10">
            <div class="box-header with-border">
                <div>
                    <div id="chart_div3"></div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <hr />*@