<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/assets/img/favicon.ico">
    <title>@ViewData["Title"] - Help Desk</title>

    <environment include="Development">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:500,400italic,100,700italic,300,700,500italic,400" rel="stylesheet">
        <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/assets/css/style.css" rel="stylesheet">
        <link href="~/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="~/assets/plugins/switchery/switchery.min.css" rel="stylesheet">
        <link href="~/assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
        <link href="~/assets/plugins/datatables/media/css/dataTables.bootstrap.css" rel="stylesheet">
        <link href="~/assets/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet">
        <link href="~/assets/plugins/pace/pace.min.css" rel="stylesheet">
        <script src="~/assets/plugins/pace/pace.min.js"></script>


        @RenderSection("top", false)
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div id="container" class="effect mainnav-sm navbar-fixed mainnav-fixed">
        <!--NAVBAR-->
        <!--===================================================-->
        <header id="navbar">
            <div id="navbar-container" class="boxed">
                <!-- Header -->
                <partial name="_HeaderPartial" />
                <!-- End header -->
            </div>
        </header>
        <!--===================================================-->
        <!--END NAVBAR-->
        <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div class="boxed">
            <div id="content-container">
                   @RenderBody()
            </div>
        
            <!--===================================================-->
            <!--END CONTENT CONTAINER-->
            <!--MAIN NAVIGATION-->
            <!--===================================================-->
            <nav id="mainnav-container">
                <partial name="_DrawerPartial" />
            </nav>
        </div>
        <!--===================================================-->
        <!--END MAIN NAVIGATION-->
        <!-- FOOTER -->
        <!--===================================================-->
        <footer id="footer">
            <p class="pad-lft">&#0169; @DateTime.Now.Year AGE Danışmanlık, Bilişim Hizmetleri A.Ş.</p>
        </footer>
        <!--===================================================-->
        <!-- END FOOTER -->
        <!-- SCROLL TOP BUTTON -->
        <!--===================================================-->
        <button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>
        <!--===================================================-->
    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->
    <!--JAVASCRIPT-->
    <!--=================================================-->



    @RenderSection("bottom", false)

    <partial name="_CookieConsentPartial" />

    <environment include="Development">
        <script src="~/assets/js/jquery-2.1.1.min.js"></script>
        <script src="~/assets/js/bootstrap.min.js"></script>
        <script src="~/assets/plugins/fast-click/fastclick.min.js"></script>
        <script src="~/assets/js/scripts.js"></script>
        <script src="~/assets/plugins/nanoscrollerjs/jquery.nanoscroller.min.js"></script>
        <script src="~/assets/plugins/metismenu/metismenu.min.js"></script>
        <script src="~/assets/plugins/switchery/switchery.min.js"></script>
        <script src="~/assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
        <script src="~/assets/plugins/datatables/media/js/jquery.dataTables.js"></script>
        <script src="~/assets/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
        <script src="~/assets/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
        <script src="~/assets/plugins/screenfull/screenfull.js"></script>
        <script src="~/assets/js/notify.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
